[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask = "*"
flask-restful = "*"
flask-migrate = "*"
flask-cors = "*"
flask-jwt-extended = "*"
pypdf2 = "*"
reportlab = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "*"
